*{
    box-sizing: border-box;
}

:root{
    --primary-cream:hsl(30, 38%, 92%);
    --primary:hsl(158, 36%, 37%);
    --blanco:hsl(0, 0%, 100%);
    --gris:hsl(228, 12%, 48%);
}

html{
    font-size: 14px;
}

body{
    font-family: 'Fraunces', serif;
    background-color:var(--primary-cream);

    /*centrar la carta en medio de la pantalla*/
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    background-color: var(--blanco);
    border-radius: 10px;
    overflow: hidden; /*el contenido que se desborda hazlo visible o scroll*/
}

.card__content{
    padding: 1.6rem;
    display:flex;
    flex-direction: column;
    padding:0 18px 18px 18px;
    gap:1rem;
}

.card__category{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 500;
}

.card__category, .card__description, .card__price-old{
    color: var(--gris);
    font-family: 'Montserrat', sans-serif;
}

.card__image{
    /* border-radius: 10px 10px 0 0; */
    width: 100%;
}

.card__title{
    font-size: 32px;
    margin: 0;
    line-height: 90%;
}

.card__description{
    line-height: 190%;
}

.card__price{
    display:flex;
    align-items: center;
    gap:20px;
}

.card__price-current{
    color:var(--primary);
    font-size: 2.8rem;
}

.card__price-old{
    text-decoration: line-through;
}

.card__addtocart-button{
    background-color: var(--primary);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color:var(--blanco);
    border:none;
    padding:15px;
    cursor: pointer;
}

@media (min-width:600px){
    .card {
        display: flex;
        max-width: 100%;
        justify-content: center;
    }
    .card__image {
        width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
        height: 100%;;
    }
    .card__content {
        display:flex;
        justify-content: space-between;
        flex-grow: 1; /* Permite que el contenido de texto ocupe todo el espacio disponible */
    }
}
